<h1>Material Todo List</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
  <mat-form-field>
    <mat-label>할 일:</mat-label>
    <input
      matInput
      type="text"
      placeholder="할 일을 입력해주세요."
      required
      formControlName="todo"
    >
  </mat-form-field>
  <button mat-stroked-button type="submit" style="margin-left: 10px;">Submit</button>
</form>

<mat-list role="list">
  <mat-list-item
    role="listitem"
    *ngFor="let todo of todoList; let i = index"
    (mouseenter)="onMouseEnterLeave(i)"
    (mouseleave)="onMouseEnterLeave(i)"
  >
    {{ todo }}
    <button
      mat-icon-button
      *ngIf="isOverTodo[i]" (click)="onDeleteTodo(i)"
    >
      <span class="material-icons">delete</span>
    </button>
  </mat-list-item>
</mat-list>
