/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face{
  font-family: Happened;
  src:url('assets/fonts/And This Happened.ttf');
}

@font-face{
  font-family: StrickenBrush;
  src:url('assets/fonts/Stricken Brush.ttf');
}
