mat-drawer {
  width: 200px;
}
mat-drawer a {
  text-decoration: none;
  color: #000000;
}

.main-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.menu-icon {
  padding: 0 10px;
}

.menu-home {
  color: #ffffff;
  text-decoration: none;
}

.content {
  height: calc(100% - 64px);
}
